
body {
    background-color: rgb(247, 202, 201);
}

.title h1 {
    font-size: 80px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: overline;
}

a {
    text-decoration: none;
}

.btn {

    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
        
    margin: 0 auto;
    display: block;
    margin-top: 150px;
  }
.btn {border-radius: 6px;}


  /* Darker background on mouse-over */
  .btn:hover {
  
    background:rgb(36, 36, 36);

  }

h2 {
    margin-top: 200px;
    font-size: 35px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    font-size: 30px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

body hr{
    width:50px;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0)
}


img {
    width: 150px;
    height: 150px;
}

.pig {
    display: flex;
    justify-content: center;
}



@media screen and (max-width: 642px) {
    img {
        display: none;
    }
}


@media screen and (max-width: 460px) {    
    .title h1 {
        font-size: 50px;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        text-decoration: overline;
    }
}

